<%- include('header.ejs') %>
<main class="mw">
    <h2>THE BLOG</h2>
    <h3>MYPAGE</h3>
    <div><%= user.userid %></div>
    <div><%= user.username %></div>
</main>
<%- include('footer.ejs') %>